html {
    margin-left: 80px;
    margin-right: 80px;
}

* {
    font-family: 'Orbitron', sans-serif;
    padding: 2px;
}

main > section {
    margin-top: 30px;
    margin-bottom: 30px;
}

main > section > article {
    margin-right: 30px;
}

main > section :nth-child(3) {
    margin-right: -50px;
}

header, main, footer {
    background-color: #bb6016bb;
    font-size: 14pt;
    min-width: 1200px;
}

html > body {
    background-color: #381f1f0a;
}

#logo {
    width: 200px;
    height: 70px;
    position: relative;
    top: 10px;
}

header > article {
    display: inline-block;
    color: #d9e0f1;
    margin-left: 6%;
}

header > article > a {
    color: #d9e0f1;
    border-style: solid;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    color: #d9e0f1;
    background-color: #381f1f0a;
}

header {
  position: sticky;
  top: -15px;
  z-index: 1;
  background-color: #d41212f8;
  margin-left: auto;
  margin-right: auto;
  border-bottom-style: solid;
  border-bottom-color: #381f1f0a;
}

#hero {
    width: 960px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: #922121;
    
}


#hero > p {
    position: absolute;
    margin-left: 200px;
    margin-top: 65px;
    text-align: center;
    color: #000;
    font-size: 50pt;
    min-width: 500px;
}

#hero > img {
    height: 90%;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 2%;
    opacity: 30%;
}

#section2 {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#section2 > article {
    display: inline-block;
    width: 300px;
    height: 375px;
    background-color: #922121;
}

#section2 > article > img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

#section2 > article > p {
    text-align: center;
    color: #2c221abb;
    font-size: 10pt;
    position: relative;
    top: 300px;
}

#cutter {
    width: 250px;
}

#section3 {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ac2c2c;
}

#section3 > article {
    display: inline-block;
}

#section3 > article > p {
    max-width: 400px;
    max-height: 360px;
    overflow: scroll;
    background-color: #d9e0f1;
    color: #b64e08e0;
    text-align: center;
    padding: 15px;
    line-height: 1.5em;
    position: relative;
    bottom: 50px;
    left: 30px;
}

#buy {
  color: #d9e0f1;
  border-style: solid;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px;
  color: #d9e0f1;
  background-color: #381f1f0a;
  position: relative;
  font-style: italic;
  left: 69%;
  bottom: 40px;
}

#featured > img {
  width: 470px;
}

#featured img {
  width: 430px;
}

footer {
  border-top-style: solid;
  border-top-color: black;
  background-color: #d41212f8;
}

footer > p {
  display: inline-block;
  font-size: 10pt;
  color: #d1e1f5;
  background-color: #381f1f0a;
  margin-left: 50px;
  border-radius: 15px;
  border-style: solid;
  border-color: #706767;
  padding: 7px;
  height: 10px;
  text-align: center;
}

footer > img {
  width: 200px;
  position: relative;
  left: 18%;
}
